In [2]:
import mysql.connector

In [4]:
conn  = mysql.connector.connect(
    host = 'admin.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234'
)

In [5]:
conn.close()

In [80]:
cursor = conn.cursor(buffered=True)
cursor.execute('use oneday')

In [81]:
gas_brand = 'create table gas_brand(id int not null auto_increment, name varchar(16), primary key(id))'
cursor.execute(gas_brand)

ProgrammingError: 1050 (42S01): Table 'gas_brand' already exists

In [82]:
gas_station = 'create table gas_station(id int not null auto_increment, brand int, name varchar(64), city char(2), gu varchar(10), address varchar(128), gasoline int, diesel int, self boolean, car_wash boolean, charging_station  boolean, car_maintenance boolean, convenience_store boolean, 24_hour boolean, lat decimal(16, 14), lng decimal(17, 14), primary key(id), foreign key(brand) references gas_brand(id))'
cursor.execute(gas_station)

In [83]:
result_1 = 'desc gas_brand'
cursor.execute(result_1)

result_1 = cursor.fetchall()
for i in result_1:
    print(i)
print('-' * 80)
result_1 = 'desc gas_station'
cursor.execute(result_1)

result_1 = cursor.fetchall()
for i in result_1:
    print(i)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')
--------------------------------------------------------------------------------
('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(64)', 'YES', '', None, '')
('city', 'char(2)', 'YES', '', None, '')
('gu', 'varchar(10)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('gasoline', 'int', 'YES', '', None, '')
('diesel', 'int', 'YES', '', None, '')
('self', 'tinyint(1)', 'YES', '', None, '')
('car_wash', 'tinyint(1)', 'YES', '', None, '')
('charging_station', 'tinyint(1)', 'YES', '', None, '')
('car_maintenance', 'tinyint(1)', 'YES', '', None, '')
('convenience_store', 'tinyint(1)', 'YES', '', None, '')
('24_hour', 'tinyint(1)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

In [84]:
cursor = conn.cursor(buffered=True)
cursor.execute("insert into gas_brand values (1, 'SK에너지'), (2, '현대오일뱅크'), (3, 'GS칼텍스'), (4, 'S-OIL'), (5, '알뜰주유소'), (6, '자가상표')")
conn.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'gas_brand.PRIMARY'

In [85]:
result_2 = 'select * from gas_brand'
cursor.execute(result_2)

result_2 = cursor.fetchall()
for i in result_2:
    print(i)

(1, 'SK에너지')
(2, '현대오일뱅크')
(3, 'GS칼텍스')
(4, 'S-OIL')
(5, '알뜰주유소')
(6, '자가상표')

In [86]:
def casting(str_):
    return int(str_.replace(',',''))

casting('1,000')

1000

In [87]:
def getBrandId(brandname):
    brand_curosr = conn.cursor(buffered=True, dictionary = True) # 딕셔너리 형태로 변환(row에서 column 이름으로 값을 불러올 수 있음
    brand_curosr.execute('select * from  gas_brand')
    brand_raw = brand_curosr.fetchall()

    if brandname == 'HD현대오일뱅크':
        brandname = '현대오일뱅크'
    elif brandname == '알뜰(ex)':
        brandname = '알뜰주유소'

    for item in brand_raw:
        if item['name'] == brandname:
            return item['id']
    return -1
        
getBrandId('SK에너지')

1

In [88]:
def gu(address):
    return address.split()[1]

gu('서울시 강남구 헌릉로 730')

'강남구'

In [6]:
def lat_lng_(address):
    import googlemaps
    gmaps_key = 'AIzaSyDHbtPw9GEryHxMnBOyQQHqEr1POHeGCQI'
    gmaps = googlemaps.Client(key = gmaps_key)

    tmp = gmaps.geocode(address, language = 'ko')
    lat = tmp[0].get('geometry')['location']['lat']
    lng = tmp[0].get('geometry')['location']['lng']

    return lat, lng

lat_lng_('서울시 강남구 헌릉로 730')

(37.4665675, 127.1190803)

In [90]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time

url = 'https://www.opinet.co.kr/searRgSelect.do'
driver = webdriver.Chrome('../ds_study/driver/chromedriver.exe')
driver.get(url)
req = driver.page_source
soup = BeautifulSoup(req, 'html.parser')

In [91]:
sido_list_raw = driver.find_element(By.ID, 'SIDO_NM0')
sido_list = sido_list_raw.find_elements_by_tag_name('option')
sido_list[1].get_attribute('value')

'서울특별시'

In [92]:
sido_names = [option.get_attribute('value')
             for option in sido_list] 
sido_names[:5] # 0번째에 공백 데이터 발생
sido_names = sido_names[1:]
sido_list_raw.send_keys([sido_names[0]])

In [93]:
gu_list_raw= driver.find_element(By.ID, 'SIGUNGU_NM0') # 부모 태그
gu_list = gu_list_raw.find_elements_by_tag_name('option') #자식 태그

gu_names = [option.get_attribute('value')
           for option in gu_list] # 리스트안에 for문을 통해 데이터를 한번에 담기
gu_names = gu_names[1:]
gu_names[:5]
print(gu_names)

['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구']

In [94]:
driver.find_element(By.XPATH, '//*[@id="CWSH_YN"]').click(),
driver.find_element(By.XPATH, '//*[@id="MAINT_YN"]').click(),
driver.find_element(By.XPATH, '//*[@id="CVS_YN"]').click(),
driver.find_element(By.XPATH, '//*[@id="SEL24_YN"]').click()

In [95]:
conn  = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234'
)
cursor = conn.cursor(buffered=True)
cursor.execute('use oneday')

In [96]:
from tqdm import tqdm_notebook

sql = "insert into gas_station (brand, name, city, gu, address, gasoline, diesel, self, car_wash, charging_station, car_maintenance, convenience_store, 24_hour, lat, lng)\
        values (%s, %s, '서울', %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

for i in tqdm_notebook(range(len(gu_names))):
    gu = driver.find_element(By.ID, 'SIGUNGU_NM0')
    gu.send_keys(gu_names[i])
    
    cnt = driver.find_element(By.XPATH, '//*[@id="totCnt"]').text
    
    for j in range(1, int(cnt)+1):
    
        search_tag = driver.find_element(By.XPATH, """//*[@id="body1"]/tr[""" + str(j) + """]/td[1]/a""").click()
        
        req = driver.page_source
        soup = BeautifulSoup(req, 'html.parser')
        
         # 주유소이름, 주소, 상표, 휘발유가격, 경유가격
        gas_station = soup.find('label', {'id' : 'os_nm'}).text
        address = soup.find('label', {'id' : 'rd_addr'}).text
        brand = getBrandId(soup.find('label', {'id' : 'poll_div_nm'}).text)
        gasoline_price = casting(soup.find('label', {'id' : 'b027_p'}).text)
        disel_price = casting(soup.find('label', {'id' : 'd047_p'}).text)

        # 셀프여부
        check1 = str(soup.find('span', {'id' : 'SPAN_SELF_VLT_YN_ID'}))
        self = True if check1.find('self_icon') == -1 else False

        #세차장, 충전소, 경정비, 편의점, 24시간 여부, 구
        #find 함수는 찾는 값이 없다면 -1 출력

        check2 = str(soup.find('img', {'id' : 'cwsh_yn'}))
        car_awsh = True if check2.find('off') == -1 else False
        
        check3 = str(soup.find('img', {'id' : 'lpg_yn'}))
        charging_station = True if check3.find('off') == -1 else False
        
        check4 = str(soup.find('img', {'id' : 'maint_yn'}))
        light_maintenance = True if check4.find('off') == -1 else False
        
        check5 = str(soup.find('img', {'id' : 'cvs_yn'}))
        convenience_store = True if check5.find('off') == -1 else False
        
        check6 = str(soup.find('img', {'id' : 'sel24_yn'}))
        sel24 = True if check6.find('off') == -1 else False
        
        district = soup.find('label', {'id' : 'rd_addr'}).text.split()[1]

        lat, lng = lat_lng_(address)

        cursor = conn.cursor(buffered=True)
        
        cursor.execute(sql, (brand, gas_station, district, address, gasoline_price, disel_price, self, \
                             car_awsh, charging_station, light_maintenance, convenience_store, sel24, lat, lng))
        conn.commit()


driver.quit

C:\Users\user\AppData\Local\Temp\ipykernel_8968\3471624132.py:6: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(range(len(gu_names))):

  0%|          | 0/25 [00:00<?, ?it/s]

In [98]:
cursor = conn.cursor(buffered=True)
cursor.execute('select count(*) from gas_station')
result = cursor.fetchall()
print(result)

[(363,)]

In [99]:
cursor = conn.cursor(buffered=True)
cursor.execute('select * from gas_station limit 10')
result = cursor.fetchall()

for row in result:
    print(row)

(1, 1, '(주)보성 세곡주유소', '서울', '강남구', '서울 강남구  헌릉로 731 (세곡동)', 1632, 1553, 0, 1, 0, 0, 0, 0, Decimal('37.46715650000000'), Decimal('127.11870810000000'))
(2, 2, 'HD현대오일뱅크㈜직영 산성셀프주유소', '서울', '강남구', '서울 강남구 헌릉로 730', 1639, 1569, 0, 1, 0, 0, 0, 0, Decimal('37.46656750000000'), Decimal('127.11908030000000'))
(3, 3, '방죽주유소', '서울', '강남구', '서울 강남구 밤고개로 215 (율현동)', 1667, 1599, 0, 1, 0, 0, 0, 0, Decimal('37.47499260000000'), Decimal('127.10688660000000'))
(4, 1, '자곡셀프주유소', '서울', '강남구', '서울 강남구 밤고개로 120 (자곡동)', 1685, 1599, 0, 1, 0, 0, 0, 0, Decimal('37.48340020000000'), Decimal('127.10404580000000'))
(5, 1, '(주)중앙에너비스 수서지점', '서울', '강남구', '서울 강남구 광평로 202 (수서동)', 1687, 1627, 0, 1, 0, 0, 0, 0, Decimal('37.48410530000000'), Decimal('127.09504010000000'))
(6, 2, '삼성동주유소', '서울', '강남구', '서울 강남구 테헤란로 619 (삼성동)', 1689, 1625, 0, 1, 0, 0, 0, 0, Decimal('37.50985760000000'), Decimal('127.06511010000000'))
(7, 2, 'HD현대오일뱅크㈜직영 도곡셀프주유소', '서울', '강남구', '서울 강남구  남부순환로 2718 (도곡2동)', 1689, 1614, 0, 1, 0, 1, 0, 0, Decimal('37.48546230000000'), Decimal('127.04321810000000'))
(8, 2, 'HD현대오일뱅크㈜직영 유진주유소', '서울', '강남구', '서울 강남구 논현로 152 (도곡동)', 1699, 1629, 1, 1, 0, 1, 0, 0, Decimal('37.48743160000000'), Decimal('127.03999760000000'))
(9, 1, '오일프러스 셀프', '서울', '강남구', '서울 강남구 남부순환로 2651 (도곡동)', 1699, 1624, 0, 1, 0, 1, 0, 1, Decimal('37.48583900000000'), Decimal('127.03967210000000'))
(10, 4, '극동유화㈜ 개나리주유소', '서울', '강남구', '서울 강남구 언주로 423 (역삼동)', 1705, 1625, 0, 1, 0, 1, 0, 1, Decimal('37.50007760000000'), Decimal('127.03854190000000'))

In [104]:
import pandas as pd

sql = "select s.id, b.name, s.name, s.city, s.gu, s.address, s.gasoline, s.diesel, s.self,\
        s.car_wash, s.charging_station, s.car_maintenance, s.convenience_store, s.24_hour, s.lat, s.lng\
        from gas_brand as b, gas_station as s\
        where b.id = s.brand order by s.id"

cursor = conn.cursor(buffered=True)
cursor.execute(sql)
result = cursor.fetchall()

df = pd.DataFrame(result)
df.columns = ['id', 'brand', 'name', 'city', 'gu', 'address', 'gasoline', 'diesel', 'self', 'car_wash', 'charging_station', 
              'car_maintenance', 'convenience_store', '24_hour', 'lat', 'lng']
df.head()

,id,brand,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hour,lat,lng
0,1,SK에너지,(주)보성 세곡주유소,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1632,1553,0,1,0,0,0,0,37.46715650000000,127.11870810000000
1,2,현대오일뱅크,HD현대오일뱅크㈜직영 산성셀프주유소,서울,강남구,서울 강남구 헌릉로 730,1639,1569,0,1,0,0,0,0,37.46656750000000,127.11908030000000
2,3,GS칼텍스,방죽주유소,서울,강남구,서울 강남구 밤고개로 215 (율현동),1667,1599,0,1,0,0,0,0,37.47499260000000,127.10688660000000
3,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1685,1599,0,1,0,0,0,0,37.48340020000000,127.10404580000000
4,5,SK에너지,(주)중앙에너비스 수서지점,서울,강남구,서울 강남구 광평로 202 (수서동),1687,1627,0,1,0,0,0,0,37.48410530000000,127.09504010000000

In [105]:
df.to_csv('../sql_ws/[DS]SQL2_leebyungchan.csv', encoding='utf-8')

In [11]:
#미왕빌딩 위도, 경도
lat, lng = lat_lng_('서울시 강남구 강남대로 364')
lat, lng

(37.4955525, 127.0292924)

#### 위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.
주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

In [40]:
import mysql.connector

conn  = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234'
)

cursor = conn.cursor(buffered=True)
cursor.execute('use oneday')

sql = "select s.id, b.name, s.name, s.address, \
        (6371*acos(cos(radians(37.4955525))*cos(radians(s.lat))*cos(radians(s.lng) \
        -radians(127.0292924))+sin(radians(37.4955525))*sin(radians(s.lat)))) as distance \
        from gas_brand as b, gas_station as s \
        where b.id = s.brand \
        having distance <= 1"

cursor = conn.cursor(buffered=True)
cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

(11, 'SK에너지', 'SK서광주유소', '서울 강남구 역삼로 142', 0.5290118003680623)
(208, '현대오일뱅크', 'HD현대오일뱅크㈜직영 서초제일주유소', '서울 서초구 사임당로 116 (서초동)', 0.810302071851788)
(10, 'S-OIL', '극동유화㈜ 개나리주유소', '서울 강남구 언주로 423 (역삼동)', 0.9586506087505116)

#### 위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.
- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의
거리 (km)

In [41]:
import mysql.connector

conn  = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234'
)

cursor = conn.cursor(buffered=True)
cursor.execute('use oneday')

sql = "select s.id, b.name, s.name, s.address, s.gasoline, s.self, s.24_hour, s.convenience_store, \
        (6371*acos(cos(radians(37.4955525))*cos(radians(s.lat))*cos(radians(s.lng) \
        -radians(127.0292924))+sin(radians(37.4955525))*sin(radians(s.lat)))) as distance \
        from gas_brand as b, gas_station as s \
        where b.id = s.brand and s.self = True and s.24_hour = True and s.convenience_store = True \
        order by distance asc, s.gasoline asc"

cursor = conn.cursor(buffered=True)
cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

(217, 'GS칼텍스', '지에스칼텍스(주)남서울주유소', '서울 서초구 나루터로 83 (잠원동)', 1749, 1, 1, 1, 2.467200537487727)
(180, 'SK에너지', 'SK에너지 양지주유소', '서울 마포구 마포대로 69 (도화동)', 1729, 1, 1, 1, 8.683858204190152)
(317, 'GS칼텍스', 'SJ오일(주) 여의도주유소', '서울 영등포구 은행로 64', 2295, 1, 1, 1, 9.9337117432239)
(73, 'SK에너지', 'SK KH에너지 가양주유소', '서울 강서구 강서로 498 (가양동)', 1698, 1, 1, 1, 18.470570412681614)

#### 문제 8. 구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.
- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

In [42]:
import mysql.connector

conn  = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'oneday',
    password = '1234'
)

cursor = conn.cursor(buffered=True)
cursor.execute('use oneday')

sql = "select s.gu, b.name, avg(s.gasoline)\
    from gas_brand as b, gas_station as s\
        where b.id = s.brand\
            group by s.gu, b.name\
                order by avg(s.gasoline) asc"

cursor = conn.cursor(buffered=True)
cursor.execute(sql)

result = cursor.fetchall()
for i in result:
    print(i)

conn.close()

('강서구', '알뜰주유소', Decimal('1547.0000'))
('양천구', '알뜰주유소', Decimal('1549.0000'))
('양천구', 'S-OIL', Decimal('1549.0000'))
('서초구', '알뜰주유소', Decimal('1558.0000'))
('영등포구', '알뜰주유소', Decimal('1565.0000'))
('구로구', 'GS칼텍스', Decimal('1570.0000'))
('은평구', '현대오일뱅크', Decimal('1577.3333'))
('구로구', 'SK에너지', Decimal('1578.0000'))
('도봉구', 'SK에너지', Decimal('1580.0000'))
('중랑구', 'GS칼텍스', Decimal('1583.6667'))
('성북구', 'SK에너지', Decimal('1589.5000'))
('강북구', 'GS칼텍스', Decimal('1593.0000'))
('성북구', 'GS칼텍스', Decimal('1593.5000'))
('강북구', 'S-OIL', Decimal('1595.0000'))
('동대문구', 'GS칼텍스', Decimal('1596.3333'))
('강북구', 'SK에너지', Decimal('1597.7500'))
('도봉구', 'GS칼텍스', Decimal('1598.3333'))
('도봉구', 'S-OIL', Decimal('1598.5000'))
('중랑구', 'S-OIL', Decimal('1599.2500'))
('금천구', 'S-OIL', Decimal('1600.0000'))
('영등포구', 'S-OIL', Decimal('1602.0000'))
('성북구', '현대오일뱅크', Decimal('1603.3333'))
('은평구', 'SK에너지', Decimal('1605.0000'))
('도봉구', '현대오일뱅크', Decimal('1605.0000'))
('광진구', '현대오일뱅크', Decimal('1605.1667'))
('양천구', 'GS칼텍스', Decimal('1605.5000'))
('강북구', '현대오일뱅크', Decimal('1607.0000'))
('동대문구', 'SK에너지', Decimal('1610.4000'))
('송파구', 'S-OIL', Decimal('1610.5000'))
('동대문구', 'S-OIL', Decimal('1611.0000'))
('관악구', '알뜰주유소', Decimal('1614.0000'))
('은평구', 'GS칼텍스', Decimal('1616.0000'))
('금천구', 'SK에너지', Decimal('1616.0000'))
('강서구', '현대오일뱅크', Decimal('1616.2000'))
('노원구', '현대오일뱅크', Decimal('1618.3333'))
('성동구', 'S-OIL', Decimal('1618.5000'))
('서대문구', 'S-OIL', Decimal('1621.0000'))
('노원구', 'SK에너지', Decimal('1622.0000'))
('양천구', '현대오일뱅크', Decimal('1624.1429'))
('양천구', 'SK에너지', Decimal('1624.8571'))
('서대문구', '현대오일뱅크', Decimal('1632.0000'))
('관악구', '현대오일뱅크', Decimal('1634.0000'))
('서대문구', 'GS칼텍스', Decimal('1634.0000'))
('노원구', 'S-OIL', Decimal('1634.5000'))
('동대문구', '현대오일뱅크', Decimal('1636.0000'))
('중랑구', 'SK에너지', Decimal('1636.2500'))
('서대문구', 'SK에너지', Decimal('1636.6667'))
('성북구', 'S-OIL', Decimal('1645.5000'))
('금천구', '현대오일뱅크', Decimal('1646.5000'))
('마포구', '현대오일뱅크', Decimal('1647.6667'))
('관악구', 'SK에너지', Decimal('1649.0000'))
('금천구', 'GS칼텍스', Decimal('1650.0000'))
('성동구', 'GS칼텍스', Decimal('1654.0000'))
('송파구', 'GS칼텍스', Decimal('1657.5000'))
('영등포구', '현대오일뱅크', Decimal('1658.6667'))
('동작구', 'S-OIL', Decimal('1659.0000'))
('구로구', '현대오일뱅크', Decimal('1662.2857'))
('송파구', '현대오일뱅크', Decimal('1662.3333'))
('노원구', 'GS칼텍스', Decimal('1663.2500'))
('강서구', 'GS칼텍스', Decimal('1664.1667'))
('동작구', '현대오일뱅크', Decimal('1673.0000'))
('광진구', 'S-OIL', Decimal('1677.0000'))
('구로구', 'S-OIL', Decimal('1677.3333'))
('중구', '알뜰주유소', Decimal('1678.0000'))
('동작구', 'GS칼텍스', Decimal('1679.0000'))
('송파구', 'SK에너지', Decimal('1680.6667'))
('서초구', '현대오일뱅크', Decimal('1685.8000'))
('강서구', 'S-OIL', Decimal('1686.0000'))
('마포구', 'S-OIL', Decimal('1689.0000'))
('서초구', 'GS칼텍스', Decimal('1696.2857'))
('광진구', 'SK에너지', Decimal('1698.0000'))
('강서구', 'SK에너지', Decimal('1698.5000'))
('마포구', 'SK에너지', Decimal('1713.7500'))
('관악구', 'S-OIL', Decimal('1716.0000'))
('영등포구', 'GS칼텍스', Decimal('1718.0000'))
('관악구', 'GS칼텍스', Decimal('1721.5000'))
('중구', 'S-OIL', Decimal('1725.0000'))
('은평구', '자가상표', Decimal('1728.0000'))
('강동구', 'SK에너지', Decimal('1729.6667'))
('영등포구', 'SK에너지', Decimal('1731.0000'))
('강동구', 'GS칼텍스', Decimal('1737.0000'))
('종로구', '현대오일뱅크', Decimal('1754.0000'))
('서초구', 'S-OIL', Decimal('1758.8333'))
('강동구', '현대오일뱅크', Decimal('1759.0000'))
('서초구', 'SK에너지', Decimal('1763.8571'))
('종로구', 'S-OIL', Decimal('1779.0000'))
('성동구', '현대오일뱅크', Decimal('1805.0000'))
('성동구', 'SK에너지', Decimal('1822.0000'))
('강남구', 'SK에너지', Decimal('1832.0909'))
('강남구', 'S-OIL', Decimal('1879.3333'))
('강동구', 'S-OIL', Decimal('1889.0000'))
('강남구', '현대오일뱅크', Decimal('1940.6250'))
('강남구', 'GS칼텍스', Decimal('2000.1111'))
('종로구', 'SK에너지', Decimal('2003.5000'))
('용산구', '현대오일뱅크', Decimal('2011.7500'))
('중구', 'SK에너지', Decimal('2101.5000'))
('용산구', 'SK에너지', Decimal('2153.2000'))
('용산구', 'GS칼텍스', Decimal('2336.5000'))
('중구', 'GS칼텍스', Decimal('2409.0000'))

In [ ]:
import matplotlib.pyplot